{% extends "base.html" %}
{% block javascript %}
<script src="/static/js/settings_authentication.js"></script>
{% endblock %}
{% block settings_current %}current{% endblock %}
{% block settings_authentication_current %}current{% endblock %}


{% block content %}

			
			<!-- Page Head -->
			<h2>Authentication Settings</h2>
			<p id="page-intro">Configure repositories authentication</p>
			<!-- Repository name -->
			<div class="content-box"><!-- Start Content Add repo -->
				
				<div class="content-box-header">
					
					<h3>Authentication</h3>

					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
					
					<form action="" onsubmit="return false;">
						<fieldset>
							{% csrf_token %}

							<label>Authentication method</label>            
							<input type = "radio"
								 name = "authMethod"
								 id = "gitstackUsers"
								 value = "gitstackUsers"
								 checked = "checked" /> GitStack users & groups <br />

							<input type = "radio"
								 name = "authMethod"
								 id = "ldapUsers"
								 value = "ldapUsers" /> Active directory users <br />
						 
						</fieldset> 
						<div id="ldapSettings">
							<br />
							<br />
							<label>Ldap url</label>
							<input class="text-input medium-input" type="text" id="ldapUrl" name="ldapUrl" /><br />
							example : "ldap://10.0.1.24:389/CN=Users,DC=contoso,DC=com"<br />
							<br />
							<br />
							<label>Ldap bind DN</label><br />
							<input class="text-input medium-input" type="text" id="ldapBindDn" name="ldapBindDn" /><br />
							Distinguished name to search for entries, example : "CN=john,CN=Users,DC=contoso,DC=com"<br />
							<br />
							<br />
							<label>Ldap bind password</label><br />
							<input class="text-input medium-input" type="password" id="ldapBindPassword" name="ldapBindPassword" /><br />
							A bind password to use in conjunction with the bind DN, example : john's password.
							<br />
							

						</div>
						
						<br />
						<input id="saveSettings" class="button" type="submit" value="Save" />

						<div class="clear"></div><!-- End .clear -->
							
					</form>
						
					
					
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			
			
	
			
			<div class="clear"></div>
			


			
			
			
			
{% endblock %}