{% extends "base.html" %}
{% block javascript %}
<script src="/static/js/settings_authentication.js?v1.4"></script>
{% endblock %}
{% block settings_current %}current{% endblock %}
{% block settings_authentication_current %}current{% endblock %}


{% block content %}

			
			<!-- Page Head -->
			<h2>Authentication Settings</h2>
			<p id="page-intro">Configure repositories authentication</p>
			<!-- Repository name -->
			<div class="content-box"><!-- Start Content Add repo -->
				
				<div class="content-box-header">
					
					<h3>Authentication</h3>

					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
					
					<form action="" onsubmit="return false;">
						<fieldset>
							{% csrf_token %}

							<label>Authentication method</label>            
							<input type = "radio"
								 name = "authMethod"
								 id = "gitstackUsers"
								 value = "gitstackUsers"
								 checked = "checked" /> GitStack users & groups <br />

							<input type = "radio"
								 name = "authMethod"
								 id = "ldapUsers"
								 value = "ldapUsers" /> Ldap users <a href="http://gitstack.com/git-and-active-directory-ldap-authentication/"><img src="/static/images/icons/help.png" alt="help"></img></a> <br />
						 
						</fieldset> 
						<div id="ldapSettings">
							<br />
							<br />
							<label>Protocol</label>
							<input class="text-input small-input" type="text" id="ldapProtocol" name="ldapProtocol" /><br />
							For regular ldap, use the string ldap. For secure LDAP, use ldaps instead. Example : "ldap"<br />
							<br />
							<label>Host</label>
							<input class="text-input small-input" type="text" id="ldapHost" name="ldapHost" /><br />
							The dns name or ip of the ldap server. Example : "192.168.1.54"<br />
							<br />
							<br />
							<label>Port</label>
							<input class="text-input small-input" type="text" id="ldapPort" name="ldapPort" /><br />
							Port of the ldap server. Example : "389"<br />
							<br />
							<br />
							<label>Base dn</label>
							<input class="text-input medium-input" type="text" id="ldapBaseDn" name="ldapBaseDn" /><br />
							The DN of the branch of the directory where all searches should start from. Example : "CN=Users,DC=contoso,DC=com"<br />
							<br />
							<br />
							<label>Attribute</label>
							<input class="text-input small-input" type="text" id="ldapAttribute" name="ldapAttribute" /><br />
							The attribute on which the username is stored. Example : "sAMAccountName"<br />
							<br />
							<br />
							<label>Scope</label>
							<input class="text-input small-input" type="text" id="ldapScope" name="ldapScope" /><br />
							The scope of the search. Can be either one or sub. Example : "sub"<br />
							<br />
							<br />
							<label>Filter</label>
							<input class="text-input small-input" type="text" id="ldapFilter" name="ldapFilter" /><br />
							A valid LDAP search filter. Example : "(objectClass=person)"<br />
							<br />
							<br />
							<label>Bind DN</label><br />
							<input class="text-input medium-input" type="text" id="ldapBindDn" name="ldapBindDn" /><br />
							Distinguished name to search for entries. Example : "CN=gitstack,CN=Users,DC=contoso,DC=com"<br />
							<br />
							<br />
							<label>Bind password</label><br />
							<input class="text-input small-input" type="password" id="ldapBindPassword" name="ldapBindPassword" /><br />
							A bind password to use in conjunction with the bind DN, example : gitstack's password.
							<br />
							<br />
							<input id="testSettings" class="button" type="submit" value="Test ldap settings" />
							<input id="sync" class="button" type="submit" value="Sync saved settings with ldap" />

							<div class="loading">
								<p><img src="/static/images/loading2.gif" /> Please Wait</p>
							</div>
							

						</div>
						
						<br />
						<input id="saveSettings" class="button" type="submit" value="Save" />

						<div class="clear"></div><!-- End .clear -->
							
					</form>
						
					
					
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			
			
	
			
			<div class="clear"></div>
			


			
			
			
			
{% endblock %}